---
interface Props {
  date: string;
  class?: string;
}

const { date, class: className = "" } = Astro.props;
---

<div class:list={["timeline-item", className]}>
  <div class="timeline-item__date">
    <p>{date}</p>
  </div>
  <div class="timeline-item__content">
    <slot />
  </div>
</div>

<style>
  @import "tailwindcss";
  @reference "../../styles/globals.css";

  .timeline-item {
    @apply flex flex-col gap-2 md:flex-row md:gap-2.5 w-full;
  }

  .timeline-item__date {
    @apply flex w-full md:w-24 pt-0 md:shrink-0;
  }

  .timeline-item__date p {
    @apply text-base font-normal text-bw-secondary whitespace-nowrap;
    @apply hover:text-bw-primary duration-150 ease-in-out;
  }

  .timeline-item__content {
    @apply flex-1 flex flex-col gap-1.5 min-w-0 *:first:mt-0;
  }
</style>
